<html lang="pt-BR">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="../js/main.js"></script>
  <title>Home</title>
  
  </head>

  <body style="margin: 0px;">
    <div id="container" class="grid-container" name="container">

      <header >
        <nav class="headerNav" id="mainNav">
          <img src="../img/logo-flamengo-1536.png" class="logo" alt="">
          <div class="metade" style="text-align: left; margin-left: 1%;">
            <ul class="listaHeader">
              <li>                
                <a  href="home-admin.html" > 
              Bem vindo , Admin
                </a>
             </li>
            </ul>
          </div>
          <div  id="navbarResponsive" class="container metade" style="text-align: right; margin-right: 5%;">
              <ul class="listaHeader">
                <li>
                  <a href="../index.html" target="_self" rel="noopener noreferrer">Desconctar</a>
                  
                </li>
              </ul>
          </div>
      </nav>
      </header>

      <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:8%; margin-top: 50px;">
        <a href="#" class="w3-bar-item w3-button">Meu Perfil</a>
        <a href="#" class="w3-bar-item w3-button">Cadastro de produtos</a>        
        <a href="#" class="w3-bar-item w3-button">Cadastro de clientes</a>
        <a href="#" class="w3-bar-item w3-button">Pesquisa</a>
        <a href="#" class="w3-bar-item w3-button">Sobre Nós</a>
        <a href="#" class="w3-bar-item w3-button">Contato</a>
       
      </div>
      
    </div>

  </body>

  </html>